// from Cameron Beccario's Earth
// https://github.com/cambecc/earth

/**************************************************************************************************
 * Styling Reset
 **************************************************************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, svg, canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

@media (max-width: 825px), (max-height: 700px) {
  html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, svg, canvas {
    font-size: 0.8em;
  }
}


/**************************************************************************************************
 * Page Styling
 **************************************************************************************************/
body {
  color: #eeeeee;
  background-color: #ECF5FF
}

svg {
  overflow: hidden;  /* Do not let IE draw outside the bounds of the svg element. */
}

#display {
  cursor: default;
}

/**************************************************************************************************
 * Nav Bar Styling
 **************************************************************************************************/
.el-menu--horizontal .el-menu-item{
  height: 42px;
  line-height: 42px;
}
